.callout.default_background
{
	border-style: solid;
	border-width: 1px;
	border-color: rgb(255, 255, 255, 0.13);
	background-color: transparent;
}

.callout.gray_background
{
	background-color: rgb(37, 37, 37, 1);
}

.callout.brown_background
{
	background-color: rgb(47, 39, 35, 1);
}

.callout.orange_background
{
	background-color: rgb(56, 40, 30, 1);
}

.callout.yellow_background
{
	background-color: rgb(57, 46, 30, 1);
}

.callout.green_background
{
	background-color: rgb(34, 43, 38, 1);
}

.callout.blue_background
{
	background-color: rgb(29, 40, 46, 1);
}

.callout.purple_background
{
	background-color: rgb(43, 36, 49, 1);
}

.callout.pink_background
{
	background-color: rgb(48, 34, 40, 1);
}

.callout.red_background
{
	background-color: rgb(54, 36, 34, 1);
}

.gray_background
{
	background-color: rgb(47, 47, 47, 1);
}

.brown_background
{
	background-color: rgb(74, 50, 40, 1);
}

.orange_background
{
	background-color: rgb(92, 59, 35, 1);
}

.yellow_background
{
	background-color: rgb(86, 67, 40, 1);
}

.green_background
{
	background-color: rgb(36, 61, 48, 1);
}

.blue_background
{
	background-color: rgb(20, 58, 78, 1);
}

.purple_background
{
	background-color: rgb(60, 45, 73, 1);
}

.pink_background
{
	background-color: rgb(78, 44, 60, 1);
}

.red_background
{
	background-color: rgb(82, 46, 42, 1);
}

.default
{
	color: rgb(255, 255, 255, 0.8);
}

.gray
{
	color: rgb(155, 155, 155, 1);
}

.brown
{
	color: rgb(186, 133, 111, 1);
}

.orange
{
	color: rgb(199, 125, 72, 1);
}

.yellow
{
	color: rgb(202, 152, 76, 1);
}

.green
{
	color: rgb(82, 158, 114, 1);
}

.blue
{
	color: rgb(94, 135, 201, 1);
}

.purple
{
	color: rgb(157, 104, 211, 1);
}

.pink
{
	color: rgb(209, 87, 150, 1);
}

.red
{
	color: rgb(223, 84, 82, 1);
}

.inline-code
{
	color: #eb5757;
	background-color: #292927;
	border-radius: 4px;
	padding: 4px 6px;
	margin-bottom: 0 !important;
}

.notion-icon
{
	width: 24px;
	height: 24px;
	justify-content: center;
}

.heading_1
{
	color: white;
	margin-top: 3px;
	font-family: verdana;
	font-size: 2.5rem;
}

.heading_2
{
	color: white;
	font-family: verdana;
	margin-top: 3px;
	margin-bottom: 0px;
	font-size: 2.0rem;
}

.heading_3
{
	color: white;
	font-family: verdana;
	margin-top: 3px;
	margin-bottom: 0px;
	font-size: 1.5rem;
}

.callout
{
	margin-top: 10px;
	background: #1b2330;
	border-radius: 4px;
	padding: 12px 16px 12px 12px;
	margin-bottom: 0 !important;

	flex-direction: row;
}

.callout-icon
{
	flex-direction: column;
}

.callout-content
{
	flex-direction: column;
	margin-left: 8px;
}

.code
{
	margin-top: 10px;
	background: #1b2330;
	margin-right: 10px;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 0 !important;
}

.toggle
{
	margin-top: 10px;
	padding: 2px;
	background: #111111;
	border-radius: 5px;
	flex-direction: row;
	display: flex;
	align-items: center;
	border-width: 0;
}

.toggle-icon
{
	width: 16px;
	height: 16px;
	margin: 4px;
	transform: rotate(-90deg);

	transition: transform 0.3s;
}

.toggle-content
{
	border-radius: 0px 0px 5px 5px;
	border-width: 1px;
	border-color: #111111;
	border-style: solid;
}

.divider
{
  width: 100%;
  height: 1px;
  background-color: #ffffff2a;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notion-code-container
{
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	
	box-sizing: border-box;
}

.notion-quote
{
	border-left: 3px solid white;
	padding-left: 14px;
	padding-right: 14px;
	width: 100%;
}

.notion-columns
{
	flex-direction: row;
	flex-grow: 1;
}

.notion-column
{
	flex-direction: column;
	padding: 8px;
	flex-grow: 1;
}

.first
{
	padding-left: 0;
}

.last
{
	padding-right: 0;
}

.notion-image
{
	max-width: 100%;
}

ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}