#layout-root 
{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

#layout 
{
    display: grid;
    height: 100vh;
    gap: 20px;
    margin-top: 20px;
    position: relative;

    height: 100vh;

    /*Anim*/
    transition:
        grid-template-columns 220ms cubic-bezier(0.4, 0.0, 0.2, 1),
        grid-template-rows 220ms cubic-bezier(0.4, 0.0, 0.2, 1),
        width 220ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/*Panels*/
.panel 
{
    display: flex;

    /*Anim*/
    transition: all 180ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/*Layout A*/
.layout-a 
{
    width: min(100% - 40px, 1200px);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 128px 1fr 1fr;
    grid-template-areas:
        "D D"
        "A A"
        "B C";
}

/*Layout B*/
.layout-b 
{
    width: calc(100% - 40px);
    grid-template-columns: minmax(200px, 1fr) auto;
    grid-template-rows: 64px 1fr 100fr;
    grid-template-areas:
        "D D"
        "A B"
        "A C";
}

/*Layout C*/
.layout-c 
{
    width: calc(100% - 40px);
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
        "D D"
        "B C";
}

.layout-c #winA 
{
    grid-area: C;
    /* opacity: 0.6; */
    pointer-events: none;
    position: absolute;
}

/* Code */
#winA 
{ 
    grid-area: A; 
    height: fit-content;
    z-index: 1;
    position: relative;
}

/* Properties */
#winB 
{
    grid-area: B; 
}

/* Canvas */
#winC 
{ 
    grid-area: C;
    z-index: -1;
    position: relative;
}

/* Banner */
#winD
{ 
    grid-area: D;
    position: relative;
}
