
.heading_1
{
	color: white;
	margin-top: 3px;
	font-family: verdana;
	font-size: 2.5rem;
}

.heading_2
{
	color: white;
	font-family: verdana;
	margin-top: 3px;
	margin-bottom: 0px;
	font-size: 2.0rem;
}

.heading_3
{
	color: white;
	font-family: verdana;
	margin-top: 3px;
	margin-bottom: 0px;
	font-size: 1.5rem;
}

.callout
{
	margin-top: 10px;
	background: #1b2330;
	margin-right: 10px;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 0 !important;
}

.code
{
	margin-top: 10px;
	background: #1b2330;
	margin-right: 10px;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 0 !important;
}

.divider
{
  width: 100%;
  height: 1px;
  background-color: #ffffff2a;
}